# Books(Core) Project

**Brittany Lassiter**

## Books ERD

 ![png](Data/bookcore.png)

## Imports/Data

In [127]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [128]:
import json
with open ("C:/Users/blass/.secret/mysql.json") as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [129]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/Books"
engine = create_engine(connection)

In [130]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

## Show Tables

In [131]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

## Empty tables

In [132]:
q= '''SELECT * FROM authors'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [author_id, author_name]
Index: []

In [133]:
q= '''SELECT * FROM books'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [book_id, Title, authors_author_id]
Index: []

In [134]:
q= '''SELECT * FROM favorites'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [book_id, user_id]
Index: []

In [135]:
q= '''SELECT * FROM users'''
pd.read_sql(q, engine)

Empty DataFrame
Columns: [user_id, first_name, last_name, email]
Index: []

## Import Data

In [136]:
df = pd.read_csv('Data/Customers_favorite_books - Customers_favorite_books.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   First Name   7 non-null      object
 1   Last Name    7 non-null      object
 2   Email        7 non-null      object
 3   Book Title   7 non-null      object
 4   Book Author  7 non-null      object
dtypes: object(5)
memory usage: 408.0+ bytes

,First Name,Last Name,Email,Book Title,Book Author
0,John,Doe,JD@books.com,The Shining,Stephen King
1,John,Doe,JD@books.com,It,Stephen King
2,John,Doe,JD@books.com,The Great Gatsby,F. Scott Fitzgerald
3,Robin,Smith,Robin@books.com,The Call of the Wild,Jack London
4,Robin,Smith,Robin@books.com,Pride and Prejudice,Jane Austen

In [137]:
users = pd.read_csv('Data/users  - users.csv')
users.info()
users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   first_name  3 non-null      object
 2   last_name   3 non-null      object
 3   email       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [138]:
books = pd.read_csv('Data/books - books.csv')
books.info()
books.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6 non-null      int64
 1   title      6 non-null      object
 2   author_id  6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 272.0+ bytes

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [139]:
authors = pd.read_csv('Data/authors - authors.csv')
authors.info()
authors.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5 non-null      int64
 1   author_name  5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [140]:
favorites = pd.read_csv('Data/favorites - favorites.csv')
favorites.info()
favorites.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  7 non-null      int64
 1   book_id  7 non-null      int64
dtypes: int64(2)
memory usage: 240.0 bytes

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

## Describe

In [141]:
q= '''DESCRIBE FROM authors'''
authors = pd.read_sql(q, engine)
authors

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM authors' at line 1")
[SQL: DESCRIBE FROM authors]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
# replace original column names
authors.columns = authors.columns.str.upper()
authors.head(2)

In [ ]:
q= '''SELECT * FROM books'''
pd.read_sql(q, engine)

In [ ]:
# replace original column names
books.columns = books.columns.str.upper()
books.head(2)

In [ ]:
q= '''SELECT * FROM favorites'''
pd.read_sql(q, engine)

In [ ]:
# replace original column names
favorites.columns = favorites.columns.str.upper()
favorites.head(2)

In [ ]:
q= '''SELECT * FROM users'''
pd.read_sql(q, engine)

In [ ]:
# replace original column names
users.columns = users.columns.str.upper()
users.head(2)

## Showing tables

In [ ]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, engine)

## Testing Database

In [ ]:
q = ''' SELECT books.TITLE, favorites.USER_ID
FROM books
JOIN favorites ON books.ID = favorites.BOOK_ID
WHERE favorites.USER_ID = 
    (SELECT users.ID FROM users WHERE (users.LAST_NAME = "Doe" AND users.first_name = "John"));'''